# Настройки IDE (WebStorm/IntelliJ IDEA)
.idea/

# Папки и файлы, обычно игнорируемые в проектах React Native
node_modules/
ios/Pods/
ios/*.xcworkspace
ios/build/
android/build/
android/app/build/
*.iml

# Файлы и папки, связанные с TypeScript
*.tsbuildinfo
dist/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Другие ненужные файлы
*.swp
*.swo
*.bak
*.orig
.DS_Store
